# Python Basics
#Variables
#Slicing
#TypeCasting
#Operators

# Variable 
 #Name or identifier to define something. IT store values to be used in the programing
#Rules 
#1. Always use characters
#2. Start with an string/underscore not with numbers
#3.No Space should be there between characters or literals
#4. Case Sensitive

In [11]:
# Variable 
 # Name or identifier to define something. IT store values to be used in the programing
#Rules 
#1. Always use characters
cash=10
cash
ca$sh=10
ca$sh #SyntaxError: invalid syntax

SyntaxError: invalid syntax (3061551425.py, line 7)

In [12]:
#2. Start with an string/underscore not with numbers
123cash=100
123cash #SyntaxError: invalid decimal literal
_mycash=10
_mycash

SyntaxError: invalid decimal literal (234599310.py, line 2)

In [13]:
#3.No Space should be there between characters or literals
my cash =100
my cash #SyntaxError: invalid syntax

SyntaxError: invalid syntax (1651724961.py, line 2)

In [14]:
#4. Case Sensitive 
mycash=100
print(Mycash) #NameError: name 'Mycash' is not defined

NameError: name 'Mycash' is not defined

# Keyword
#Fixed word with special meaning in Python. cannot be redefined and used as a variable 
#Eg. True,False,if,else,for,...

In [20]:
if=1,2,3,4,5
if #SyntaxError: invalid syntax

True=1
True #SyntaxError: cannot assign to True

SyntaxError: cannot assign to True (443748856.py, line 1)

# Data Types
#Numeric
 #int
 #float
 #complex number
#Sequence Type
 #String
 #List
 #Tuple
#Dictionary
#Set
#Boolean

In [21]:
a=10
print('Type of a: ',type(a))
b='apple'
print('Type of b: ',type(b))
c=12.5
print('Type of c: ',type(c))
d=True
print('Type of d: ',type(d))

Type of a:  <class 'int'>
Type of b:  <class 'str'>
Type of c:  <class 'float'>
Type of d:  <class 'bool'>

In [24]:
10+True+'apple'+12.3 #TypeError: unsupported operand type(s) for +: 'int' and 'str'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
10+True+12.3

23.3

In [28]:
# Type Casting
#Converting one data type into another
a='app'
a=int(a) #ValueError: invalid literal for int() with base 10: 'a'
#The int() function expects a string that looks like a number

ValueError: invalid literal for int() with base 10: 'a'

In [32]:
a='123'
A=int(a)
print('a is :',a,' Type of a is :', type(a),' After Type Casting a to A: ',type(A))
b=10
B=str(b)
print('b is :',b,' Type of b is :', type(b),' After Type Casting b to B : ',type(B))

a is : 123  Type of a is : <class 'str'>  After Type Casting a to A:  <class 'int'>
b is : 10  Type of b is : <class 'int'>  After Type Casting b to B :  <class 'str'>

# Slicing
#[Start:Stop:Step]
#[0:4:1]

In [40]:
word='Emerald'
print(word[0])
print(word[0:4])
print(word[3:5])
print(word[:5])
print(word[1:5:2])
print(word[::-1])
print(word[-7:])
print(word[-7:0]) #not printing anything as the stop is 0.stop should be always greater than start
print(word[-7:-1])
print(word[-7:-1:-1]) #not printing anything
print(word[-7:-1:1])

E
Emer
ra
Emera
mr
dlaremE
Emerald

Emeral

Emeral

# Operators 
#Arithematic :- +,-,/,* ,%,**,//
#Comparison :- ==,>=,<=,<,>,!=
#Logical Operator := And(&),OR(|) ,Not(!)
#Assignment:- =,+=

In [45]:
x=10
y=3
print('************Arithematic Operator***************')
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
      
print('************Comparison Operator***************')
print(x==y)
print(x>=y)
print(x<=y)
print(x!=y)
      
print('************Logical Operator***************')
print(x>0 and y>0)
print(x<15 and y<0)
print(x>=10 or y<=5)
      
print('************Assignment Operator***************')
a=10
print(a)
a+=4
print(a)

************Arithematic Operator***************
13
7
30
3.3333333333333335
1
3
************Comparison Operator***************
False
True
False
True
************Logical Operator***************
True
False
True
************Assignment Operator***************
10
14